.board
{
    display:flex;
    flex-wrap:wrap;
    width:400px;
    height:400px;
    background-color:aqua;
}
.board div{
    width:96px;
    height:96px;
    background-color:red; 
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    color:white;
    border-style: double;
}
.scoretitle{
    font-size:40px;
    color:blue;
    font-weight: bold;
    float:left;
}
#score{
    font-size:40px;
    color:blue;
    font-weight: bold;
    margin-left: 0px;
}
#result
{
    font-size:60px;
    color:green;
    font-weight:bold;
}